:root{
    --primary-color: #F5F5F5;
    --secondary-color: #3DA9DB;
    --tertiary-color: #13233A;
    --quaternary-color: #F4F6F7;
}

/* TYPOGRAPHY */

.text_white {
    color: var(--primary-color);
}

.text_blue {
    color: var(--secondary-color);
}

.text_navy {
    color: var(--tertiary-color);
}

/* ALIGNMENT */
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center_flex{
    display: flex;
    align-items: center;
    text-align: center;
}

/* BUTTONS */

button{
    border: none;
    border-radius: 3px !important;
    box-shadow: 0 0 6px #0000003e;

    padding: 0 1rem;
}

.btn_1 {
    background-color: #f5f5f5;
    color: var(--tertiary-color);
}

.btn_1:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.btn_2 {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.btn_3 {
    background-color: transparent;
    color: var(--primary-color);
    border: 4px solid var(--primary-color);
}

.btn_2:hover {
    background-color: var(--secondary-color);
}

/* NAVBAR */

.navbar{
    background-color: var(--primary-color) !important;
    position: fixed !important;
}

.navbar-toggler {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 2rem;
}

.dropdown-menu {
    border-radius: 6px !important;
}

.dropdown-icon:hover {
    background-color: var(--quaternary-color) !important;
}

/* FOOTER */
footer {
    background-color: #212121;
    padding: 32px 12px 32px 12px;
}

.footer-inner-container {
    width: 100%;
}

.footer-map-container {
    width: 100%;
}

.footer-link {
    color: #BEBEBE;
    text-decoration: none;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer-text {
    color: #BEBEBE;
    text-decoration: none;
}

/* CONTAINERS */

.hero_main{
    background-color: aqua;
    height: 100vh;
}

.cover{
    background-color: aqua;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_top{
    padding: 6rem 0 2rem 0;
}

.container_bottom{
    padding: 3rem 0 2rem 0;
}

.card-container{
    background-color: var(--quaternary-color);
    padding: 6rem 0 !important;
}

.card-content{
    background-color: var(--quaternary-color);
    padding: 3rem !important;
    border: none;
}

.container_end{
    background-color: aqua;
    padding: 6rem 0;
}

.container_sneakpeak{
    background-color: var(--quaternary-color);
    padding: 3rem 0;
}

/* SCALE */
@media (min-width: 992px) {

    /* FOOTER */
    .footer-container {
        display: flex;
    }

    .footer-inner-container {
        width: 40%;
    }

    .footer-map-container {
        width: 20%;
    }
}